@media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: [site-start] 1fr repeat(4, 1fr) [site-end];
        grid-auto-rows: 200px; 
        gap: .5rem;
    
        grid-template-areas:
            "header header header header"
            "aside  main   main   main"
            "footer footer footer footer"
        ;
    }
}

header,
footer {
    grid-column: site;
}

.wrapper > * {
    background-color: royalblue;
    font-size: 2rem;
    padding: 1rem;
}

.wrapper > *:nth-child(even) {
    background-color: skyblue;
}